body {
  background-color: #F4F4F4;
}

.box {
  border-radius: 25px;
  padding: 20px;
  background-color: white;
  margin-top: 25px;
}

.form-container{
  min-width: 300px;
  margin: auto;
  width: 40%;
  padding: 10px;
}

.btt-back{
  margin-bottom: 10px;
}

.header {
  text-align: center;
  color: midnightblue;
  font-family: 'Bree Serif', serif;
  font-size: 4em;
}